.App {
  height: 100%;
  width: 100%;
  background: black;
  .Head, .Left, .Right, .Foot, .Action {
    border: 2px solid lightgreen;
    border-radius: 4px;
    background: black;
    position: absolute;
    color: lightgreen;
    transition: 0.7s all;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    h1 {
      margin: auto;
      width: 100%;
    }
  }
  .Head:hover, 
  .Left:hover, 
  .Right:hover, 
  .Foot:hover, 
  .Action:hover {
    color: white;
    transition: 0.7s all;
  }
  .Head {
    top: -2px;
    height: 36px;
    width: calc(100% - 38px);
    img {
      width: 40px;
      height: 34px;
      filter: invert(1);
    }
    h5 {
      margin: 0;
      height: 36px;
      align-items: center;
      color: white;
      font-size: 26px;
    }
  }
  .Left {
    left: -2px;
    top: 38px;
    height: calc(100% - 74px);
    width: 36px;
    h2 {
      transform: rotate(90deg);
    }
  }
  .Right {
    right: -2px;
    height: calc(100% - 36px);
    width: 36px;
  }
  .Foot {
    bottom: -4px;
    height: 36px;
    width: 100%;
  }
  .Action {
    left: 39px;
    top: 38px;
    width: calc(100% - 76px);
    height: calc(100% - 74px); 
  }

  .Foot #hoverBox-Foot,
  .Left #hoverBox-Left,
  .Right #hoverBox-Right {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: 0.7s all;
    border: 1px solid red;
  }
  .Left #hoverBox-Left,
  .Right #hoverBox-Right {
    width: 36px;
  }
  .Left #hoverBox-Left {
    right: 0px;
  }
  .Foot #hoverBox-Foot {
    height: 36px;
  }
  .Foot #hoverBox-Foot:hover,
  .Left #hoverBox-Left:hover,
  .Right #hoverBox-Right:hover {
    -webkit-box-shadow: 0px 0px 6px 6px rgba(0,255,26,0.88); 
    box-shadow: 0px 0px 6px 6px rgba(0,255,26,0.88);
    transition: 0.7s all;
  }
}


